@charset "UTF-8";
/*サンプル表示用のダミースタイル*/
h1 {
  display: none;
}
body {
  margin: 20px;
}
/*----------------------------------------
	Card
----------------------------------------*/
.pd-card {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  padding: 20px;
  border: 1px solid #d3c8c8;
  background: #fff;
  color: #615d5d;
}
.pd-card__thumb {
  order: -1; /*表示位置を先頭に移動*/
}
.pd-card__title {
  margin-top: 20px;
  padding-bottom: 5px;
  border-bottom: 1px dashed;
  font-size: 1.6rem;
}
.pd-card__body {
  margin-top: 20px;
}
.pd-card__price {
  margin-top: 15px;
  font-weight: bold;
  text-align: right;
}
.pd-card__price small {
  font-weight: normal;
  font-size: 0.8em;
}
.pd-card__btns {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.pd-card__btns >li {
  width: 49%;
}

/*----------------------------------------
	button
----------------------------------------*/
.btn {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  padding: 10px;
  border: transparent 1px solid;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  opacity: 0.7;
}
/*詳細を見る*/
.btn--more {
  position: relative;
  border-color: inherit;
}
.btn--more::after {
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
  content: "";
  display: block;
  width: 0.6em;
  height: 0.6em;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  transition: all .3s;
}
.btn--more:hover::after {
  right: 10px;
}
/*カートに入れる*/
.btn--cart {
  background: #ec9c67;
  color: #fff;
}
.btn--cart::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.3em;
  background: url(img/icon_cart.png) 0 0 / contain no-repeat;
}