.container {
	/*最大値を固定*/
	max-width: 1000px;
	/*ブラウザの中央に配置*/
	margin-left: auto;
	margin-right: auto;
	background: #eee;
}
/*画像のフルード化*/
img {
	max-width: 100%; /*画像自身の物理サイズを最大値として伸縮*/
	height: auto; /*アスペクト比の崩れを防止*/
}