@charset "UTF-8";
/*サンプル表示用のダミースタイル*/
h1 {
  display: none;
}
body {
  margin: 20px;
  color: #615d5d;
}
.container {
	max-width: 1000px;
	margin: 30px auto;
	padding: 0 20px;
}
.sample {
  margin: 50px 0 10px;
  padding: 30px;
  border: 1px solid #eee;
}

:focus {
  outline: 2px solid;
}


/*----------------------------------------
	button
----------------------------------------*/
.btn {
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  width: 100%;
  max-width: 150px;
  padding: 15px;
  border: transparent 2px solid;
  border-radius: 4px;;
  background: #ec9c67;
  color: #fff;
  font-family: inherit;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.7;
}
.btn:focus {
  border: 2px solid #973e03;
}