@charset "UTF-8";
/*----------------------------------------
	reset
----------------------------------------*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  font-size: inherit;
  line-height: inherit;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, main, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

header, footer, article, section, aside, main, nav, menu, figure, figcaption {
  display: block;
}

span, small, strong, em, b, i {
  color: inherit;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th {
  text-align: left;
}

input, select {
  vertical-align: middle;
}

input, textarea {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

q::before,
q::after {
  display: none;
}


/*----------------------------------------
	base
----------------------------------------*/
body {
  color: #333;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.5;
}
a {
  color: #37952F;
  transition: color 0.3s;
}
a:hover {
  color: #70cc33;
  text-decoration: none;
}

/*----------------------------------------
	header
----------------------------------------*/
.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 50px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}
.header__logo {
  flex-shrink: 0;
  width: 105px;
  margin-left: 20px;
}
@media screen and (min-width: 992px),print {
  .header {
    height: 100px;
  }
  .header__logo {
    width: 210px;
    margin-left: 50px;
  }
}

/*----------------------------------------
	hamburger
----------------------------------------*/
.hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 0;
  background: #37952F;
  cursor: pointer;
}
.hamburger__line {
  position: relative;
  width: 25px;
  height: 2px;
  background: #fff;
}
.hamburger__line::before,
.hamburger__line::after {
  position: absolute;
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background: #fff;
  transition: transform 0.3s;
}
.hamburger__line::before {
  top: -8px;
}
.hamburger__line::after {
  bottom: -8px;
}
/*閉じる*/
.hamburger._open .hamburger__line{
  background: transparent;
}
.hamburger._open .hamburger__line::before {
  top: 0;
  transform: rotate(45deg);
}
.hamburger._open .hamburger__line::after {
  bottom: 0;
  transform: rotate(-45deg);
}

@media screen and (min-width: 992px),print {
  .hamburger {
    display: none;
  }
}

/*----------------------------------------
	gnav
----------------------------------------*/
/*gnavはSP・PCのレイアウトの差異が非常に大きいため、
他のパーツのようにSP用の記述をした後でPC用の記述で上書きをすると
SP用の指定の打ち消しが多数必要となってしまいます。
このようなデザインの場合は打ち消しや上書きを最小限に抑えるため、
各デバイス共通のスタイル／SP専用のスタイル／PC専用のスタイル 
といった具合にデバイスごとにスタイル指定を切り分けた方が
効率的で分かりやすいCSSになります。*/
.gnav__link {
  color: inherit;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
.gnav__link:hover {
  color:#37952F;
}
@media screen and (max-width: 991px) {
  .gnav {
    display: none;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    height: calc(100vh - 50px);
    background: #fff;
    overflow-y: auto; /*中身があふれたら縦スクロール*/
    -webkit-overflow-scrolling: touch; /*iOSで慣性スクロール有効化*/
  }
  .gnav._open {
    display: block;/* _open がついたら表示。classのつけ外しはJSで */
  }
  .gnav__list {
    border-top: 1px solid #e7e7e7;
  }
  .gnav__item {
    border-bottom: 1px solid #e7e7e7;
  }
  .gnav__link {
    display: block;
    padding: 15px 20px;
  }
  .gnav__link._current {
    padding-left: 15px;
    border-left: 5px solid #37952F;
  }
}
@media screen and (min-width: 992px),print {
  .gnav {
    display: block;
    position: static;
    width: auto;
    height: auto;
  }
  .gnav__list {
    display: flex;
  }
  .gnav__link {
    display: block;
    padding: 1em;
    font-size: 18px;
  }
  .gnav__link._current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: #37952F;
  }
}

/*----------------------------------------
	mainContents
----------------------------------------*/
.mainContents {
  margin-top: 50px;
}
@media screen and (min-width: 992px),print {
  .mainContents {
    margin-top: 100px;
  }
}

/*----------------------------------------
	footer
----------------------------------------*/
.footer {
  padding: 0 20px;
  background: #333;
  color: #fff;
}
.footer__menu > li{
  border-bottom: 1px solid #707070;
}
.footer__menu a {
  display: block;
  padding: 1em 20px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
.footer__copyright {
  padding: 40px 0;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
@media screen and (min-width: 768px),print {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
  }
  .footer__menu {
    border-right: 1px solid #707070;
  }
  .footer__menu > li {
    display: inline-block;
    border-left: 1px solid #707070;
    border-bottom: 0;
  }
  .footer__menu  a {
    padding: 0 1em;
  }
  .footer__menu a:hover {
    text-decoration: underline;
  }
}

/*----------------------------------------
	container
----------------------------------------*/
.container {
  max-width: 1120px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}


/*----------------------------------------
	section
----------------------------------------*/
.section {
  padding-top: 50px;
  padding-bottom: 50px;
}
.section + .section {
  padding-top: 0;
}
@media screen and (min-width: 768px),print {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

/*----------------------------------------
	heading
----------------------------------------*/
.headingL {
  margin-bottom: 20px;
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
@media screen and (min-width: 768px),print {
  .headingL {
    margin-bottom: 40px;
    font-size: 48px;
  }
}


/*----------------------------------------
	button
----------------------------------------*/
.buttonM {
  display: block;
  padding: 12px 15px;
  border: 2px solid #37952F;
  background: #37952F;
  color: #fff;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}
.buttonM:hover {
  background: #fff;
  color: #37952F;
}

.buttonL {
  display: block;
  padding: 20px;
  border: 2px solid #37952F;
  background: #fff;
  color: #333;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}
.buttonL:hover {
  background: #37952F;
  color: #fff;
}

.buttonL._ghost {
  color: #fff;
  border: 2px solid #fff;
  background: transparent;
}
.buttonL._ghost:hover {
  background: rgba(255,255,255,0.3);
}

.centerButton {
  max-width: 400px;
  margin: 20px auto;
}
@media screen and (min-width:768px),print {
  .centerButton {
    margin: 40px auto;
  }
}

/*----------------------------------------
	pageHeaderL
----------------------------------------*/
.pageHeaderL {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(200/375*100vw);
  padding: 0 20px;
  background-position: center center;
  background-size: cover;
  text-align: center;
}
.pageHeaderL._service {
  background-image: url(../img/bg_header_service.jpg);
}
.pageHeaderL__title .sub{
  display: block;
  color: #37952F;
  font-family: 'Oswald',sans-serif;
  font-size: 20px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.pageHeaderL__title .main {
  display: block;
  font-size: 30px;
  letter-spacing: 0.2em;
}
@media screen and (min-width:768px),print {
  .pageHeaderL {
    justify-content: flex-start;
    height: 400px;
    padding: 0 50px;
    text-align: left;
  }
  .pageHeaderL__title .sub {
    font-size: 24px;
  }
  .pageHeaderL__title .main {
    font-size: 48px;
  }
}

/*----------------------------------------
	pageIntro
----------------------------------------*/
.pageIntro {
  padding: 50px 0;
  line-height: 1.8;
}
.pageIntro__catch {
  margin: -4px 0; /*(行の高さ-文字サイズ)÷2 分だけデザインより余白が大きくなってしまうのをある程度補正しています。*/
  font-size: 22px;
}
.pageIntro__txt {
  margin-top: 40px;
}
@media screen and (min-width:768px),print {
  .pageIntro{
    padding: 80px 0;
  }
  .pageIntro__catch {
    margin: -14px 0;
    text-align: center;
    font-size: 36px;
  }
}

/*----------------------------------------
	cvArea
----------------------------------------*/
.cvArea {
  padding: 50px 0;
  background: #37952F;
  color: #fff;
  text-align: center;
  font-size: 14px;
}
.cvArea__title {
  font-size: 24px;
}
.cvArea__title::after {
  content: "";
  display: block;
  width: 50px;
  margin: 20px auto 0;
  border-top: 1px solid;
}
.cvArea__txt {
  margin-top: 40px;
}
.cvArea__btn {
  max-width: 400px;
  margin: 40px auto 0;
}
.cvArea__tel {
  margin-top: 20px;
  font-family: 'Oswald', sans-serif;
}
.cvArea__tel a {
  color: #fff;
  font-size: 40px;
  text-decoration: none;
  font-weight: bold;
}
.cvArea__tel span {
  font-size: 24px;
}
@media screen and (min-width:768px),print {
  .cvArea {
    padding: 80px 0;
    font-size: 16px;
  }
  .cvArea__title {
    font-size: 28px;
  }
  .cvArea__tel a {
    font-size: 48px;
  }
  .cvArea__tel span {
    font-size: 30px;
  }
}

/*----------------------------------------
	breadcrumb
----------------------------------------*/
.breadcrumb {
  display: none;
}
@media screen and (min-width: 768px) {
  .breadcrumb {
    display: block;
    padding: 15px 50px;
    background: #eee;
  }
  .breadcrumb__list li{
    display: inline-block;
    font-size: 12px;
  }
  .breadcrumb__list li:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 0 3px;
    border-top: 1px solid;
    border-right: 1px solid;
    transform: rotate(45deg);
  }
}