.container {
  max-width: 1440px;
  margin: 30px auto;
	padding: 0 20px;
}

/*----------------------------------------
	Alternate
----------------------------------------*/
.alternate {
	display: flex;
	flex-direction: column-reverse;
}
.alternate + .alternate {
	margin-top: 30px;
}
.alternate__body {
	padding: 30px;
	background: #f9fae9;
}
.alternate__ttl {
	text-align: center;
	font-size: 18px;
	letter-spacing: 0.2em;
}
.alternate__sttl {
	display: block;
	font-size: 10px;
}
.alternate__txt {
	margin-top: 20px;
	line-height: 1.7;
}
.alternate__thumb img {
	max-width: none;
	width: 100%;
}
/*ずらし用の指定*/
@media screen and (max-width: 767px) {
	.alternate__body {
		margin-top: -40px; /*テキストボックスを上に40pxずらす*/
		padding-top: 60px; /*重なり分の上余白を確保*/
	}
	/*左右交互に横にずらす*/
	.alternate._normal .alternate__thumb {
		margin-left: -20px;
	}
	.alternate._normal .alternate__body {
		margin-right: -20px;
	}
	.alternate._reverse .alternate__thumb{
		margin-right: -20px;
	}
	.alternate._reverse .alternate__body{
		margin-left: -20px;
	}
}

@media screen and (min-width: 768px),print {
	.alternate {
		flex-direction: row-reverse;
	}
	.alternate + .alternate {
		margin-top: 80px;
	}
	.alternate._reverse {
		flex-direction: row;
	}
	.alternate__body {
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.alternate__thumb {
		width: 50%;
	}
	.alternate__thumb img {
		height: 100%;
		object-fit: cover;
	}
}
