html,body {
	overflow-x: hidden; /*横スクロールの発生を防止*/
}

/*----------------------------------------
	container
----------------------------------------*/
/*サイト全体で共通のコンテンツ幅指定用コンテナ枠*/
.container {
	max-width: 1080px;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	z-index: 1;
}

/*----------------------------------------
	mainVisual
----------------------------------------*/
.mainVisual {
	display: flex;
	flex-direction: column-reverse;
	margin-bottom: 50px;
}

/*写真エリア*/
@media screen and (min-width: 768px) {
	.mainVisual__ph {
		margin-left: 35px;
	}
}
@media screen and (min-width: 1080px) {
	.mainVisual__ph {
		margin-left: 7.8125vw; /* 125px（カンプサイズ・以下同） */
	}
	.mainVisual__ph img {
		max-width: none;
		width: 100%;
	}
}

/*テキストエリア*/
.mainVisual__body {
	position: relative;
	z-index: 1;
	margin-top: -60px;
	margin-right: 15px;
	padding: 30px 35px;
	background: #0027FF;
	color: #fff;
	font-family: 'Sawarabi Mincho', sans-serif;
}
.mainVisual__ttl {
	position: relative;
	font-size: 48px;
	font-weight: normal;
	line-height: 1.2;
}
.mainVisual__ttl br {
	display: block;
}
.mainVisual__ttl::after {
	content: "";
	display: block;
	margin: 15px 0 15px -35px;
	border-top: 1px solid currentColor;
}
.mainVisual__txt {
	line-height: 2;
}
@media screen and (min-width: 768px) {
	.mainVisual__body {
		margin-top: -114px;
		margin-right: 0;
		width: 67.3%;
	}
	.mainVisual__ttl {
		font-size: 48px;
	}
	.mainVisual__ttl br {
		display: none;
	}
	.mainVisual__ttl::after {
		margin-left: -35px;
	}
}
@media screen and (min-width: 1080px) {
	.mainVisual__body {
		width: 62.5%;
		margin-top: -20.625vw; /*330px */
		padding: 5vw 5vw 5vw 16.25vw; /*80px 80px 80px 260px*/
	}
	.mainVisual__ttl {
		font-size: 4.375vw; /*70px*/
	}
	.mainVisual__ttl::after {
		margin-left: -16.25vw; /*260px*/
	}
	.mainVisual__txt {
		font-size: 24px; /*24px*/
	}
}