/* ==================================================================
ページレイアウト
=================================================================== */
.container {
	max-width: 1400px;
	margin: 30px auto;
	padding: 0 30px;
}
h1 {
	font-size: 32px;
}
h2 {
	margin-top: 40px;
	margin-bottom: 10px;
}
