/* システムメッセージ
------------------------------------------------------ */
.message {
  margin-left: -20px;
  margin-right: -20px;
  padding: 60px 20px;
  background: $c_key2;
  @include medium {
    margin-left: 0;
    margin-right: 0;
    padding: 60px 40px;
  }
}
.message__title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.5;
  & + * {
    margin-top: 40px;
  }
}
.message__text {
  >* + * {
    margin-top: 30px;
  }
}