/* container
------------------------------------------------------ */
.container {
  max-width: $width;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: content-box;
  &._narrow {
    max-width: 800px;
  }
}