/* contents
------------------------------------------------------ */
.main-contents {
  padding-top: 80px;
  padding-bottom: 80px;
  &._home {
    padding-top: 0;
    padding-bottom: 0;
  }
  &._staff {
    padding-bottom: 100px;
  }
  @include medium {
    padding-top: 100px;
    padding-bottom: 100px;
    &._staff {
      padding-bottom: 150px;
    }
  }
}