.container {
  max-width: 1080px;
  margin: 30px auto;
	padding: 0 20px;
}
.heading {
	margin-top: 60px;
	margin-bottom: 20px;
}
a {
	transition: .3s;
}
a:hover {
	opacity: 0.7;
}
h2 {
  margin-top: 60px;
  margin-bottom: 20px;
}

/*----------------------------------------
	button
----------------------------------------*/
/*標準サイズ*/
.btn {
  display: inline-block;
  min-width: 200px;
  padding: 15px 30px;
  border: 2px solid transparent; /*反転タイプとサイズに差が出ないようにあらかじめ透過borderを設定*/
  color: #fff;
  text-align: center;
  text-decoration: none;
  line-height: 1.4;
  transition: .3s;
  cursor: pointer; /*button要素でも指カーソルにする*/
}
.btn:hover {
  opacity: 0.7; /*要素に関わらずhoverで透過0.7とする*/
}

/*大サイズ*/
.btn--large {
  width: 100%;
  max-width: 320px;
  padding: 20px 30px;
  font-size: 1.2em;
  letter-spacing: 0.08em;
}

/*小サイズ*/
.btn--small {
  min-width: 0;
  padding: 10px 20px;
  font-size: 0.85em;
}

/*縦圧縮ボタン*/
.btn--compressed {
  padding: 5px 30px;
}

/*ボタン種別*/
.btn--default {
  background-color: #338833;
}
.btn--default-reverse { /*反転タイプ*/
  color: #338833;
  border: 2px solid;
}
.btn--primary {
  background-color: #eb46a6;
}
.btn--primary-reverse { /*反転タイプ*/
  color: #eb46a6;
  border: 2px solid;
}
.btn--secondary {
  background-color: #aaaaaa;
}
.btn--secondary-reverse { /*反転タイプ*/
  color: #aaaaaa;
  border: 2px solid;
}

/*中央配置ボタン専用のレイアウト*/
.btns-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btns-center >.btn + .btn {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .btns-center {
    flex-direction: row;
  }
  .btns-center >.btn + .btn {
    margin-top: 0;
    margin-left: 20px;
  }
}